{
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["babel-plugin-inferno", {"imports": true}]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
}
